

  <div class="footer">
    <div class="aha">
      <i class="fab fa-facebook icon"></i>
      <i class="fab fa-instagram icon"></i>
      <i class="fab fa-twitter icon"></i>
    </div>

    <p>Copyright</p>
  </div>


  </body>
</html>
