
<%- include("partials/header"); -%>

<div class="startingline">
  <p>Dedicated to Discovery, Commited to Care.</p>

</div>

<div class="secondblock">
<p>We are a group of social workers who provide help to the needy. We have done a lot in the past and we are doing it in the present too.</p>
<p>Faucibus nisl tincidunt eget nullam. Ac felis donec et odio pellentesque diam volutpat commodo sed. Ac turpis egestas integer eget aliquet nibh praesent. Porttitor eget dolor morbi non arcu risus. Ut aliquam purus sit amet luctus venenatis. Et odio pellentesque diam volutpat commodo sed egestas. Turpis egestas pretium aenean pharetra magna ac. Augue lacus viverra vitae congue eu consequat ac. Eget est lorem ipsum dolor sit. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Vel eros donec ac odio tempor orci dapibus. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Eu turpis egestas pretium aenean. Enim diam vulputate ut pharetra. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Eleifend quam adipiscing vitae proin.</p>
</div>


<div class="firstblock">

  <div class="block">
    <h3 class="heading">News</h3>
    <div class="sidebyside" >
      <i class="far fa-newspaper imageclass"></i>
      <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="/news">Click here for more</a></p>
    </div>
  </div>

  <div class="block">
    <h3 class="heading">Products</h3>
    <div class="sidebyside">
      <i class="fas fa-head-side-mask imageclass"></i>
      <p class="info">Nunc non blandit massa enim nec dui nunc. justo donec enim diam vulputate. Aliquam nulla facilisi cras fermentum odio. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Laoreet id donec ultrices tincidunt. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Rutrum quisque non tellus orci. Morbi enim nunc faucibus a. Rhoncus dolor purus non enim praesent elementum facilisis leo. Laoreet suspendisse interdum consectetur libero id faucibus nisl. <a href="/products">Click here for more</a></p>
    </div>
  </div>

  <div class="block">
    <h3 class="heading">Queries</h3>
    <div class="sidebyside">
      <i class="far fa-question-circle imageclass"></i>
      <p class="info">Consequat id porta nibh venenatis cras sed felis eget velit. Ullamcorper sit amet risus nullam eget felis eget nunc lobortis. Nunc sed id semper risus. Scelerisque purus semper eget duis. Nec nam aliquam sem et. Turpis egestas integer eget aliquet. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Laoreet sit amet cursus sit amet dictum sit. Morbi leo urna molestie at. Nam aliquam sem et tortor consequat. Pellentesque sit amet porttitor eget dolor morbi. <a href="/queries">Click here for more</a></p>
    </div>
  </div>

</div>


<form class="" action="/" method="post">
  <div class="thirdblock">
    <h3 class="donateheading">Donate Us</h3>

    <div class="thirdblockpara">
      <p>Medilife campaign is completely non profitable and we help others without expecting anything in return form them.</p>
      <p>You can group up with us by making donations to our campaign and we will make sure your donations go straight to the people who need help. Donate by contacting to us using our social media platforms.</p>
    </div>


      <button class= "donatebutton" type="submit" name="button">I will help U!!</button>

  </div>
</form>


<%- include("partials/footer"); -%>
