
<%- include("partials/header"); -%>

  <div class="startingline1">
    <p>We also update the News so that you can be aware of the COVID-19 incidents.</p>
  </div>

<div class="firstblock">
    <h3 style= "font-size: 32px;">NEWS</h3>
  <p>Recently updated</p>

  <p>Faucibus nisl tincidunt eget nullam. Ac felis donec et odio pellentesque diam volutpat commodo sed. Ac turpis egestas integer eget aliquet nibh praesent. Porttitor eget dolor morbi non arcu risus. Ut aliquam purus sit amet luctus venenatis. Et odio pellentesque diam volutpat commodo sed egestas. Turpis egestas pretium aenean pharetra magna ac. Augue lacus viverra vitae congue eu consequat ac. Eget est lorem ipsum dolor sit. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Vel eros donec ac odio tempor orci dapibus. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Eu turpis egestas pretium aenean. Enim diam vulputate ut pharetra. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Eleifend quam adipiscing vitae proin.</p>

  <div class="images">
    <img src="images/sample.jpg" alt="">
  </div>

  <p>Pulvinar elementum integer enim neque volutpat. Massa eget egestas purus viverra accumsan in nisl nisi scelerisque. Nullam ac tortor vitae purus faucibus ornare suspendisse. Tincidunt id aliquet risus feugiat in ante. Non curabitur gravida arcu ac tortor. Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Viverra justo nec ultrices dui. Ut eu sem integer vitae justo eget magna. Facilisi morbi tempus iaculis urna id volutpat. Quisque id diam vel quam elementum pulvinar. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim. Pellentesque nec nam aliquam sem. Elementum facilisis leo vel fringilla. Commodo viverra maecenas accumsan lacus vel facilisis volutpat. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Eget dolor morbi non arcu. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Enim eu turpis egestas pretium aenean.</p>

  <div class="images">
  <img src="images/sample.jpg" alt="">
  </div>

</div>


<%- include("partials/footer"); -%>
