
<%- include("partials/header"); -%>

<div class="products">
  <p>In this crisis everybody needs a help which maybe physical,money,items etc. But the main thing about anything is like "is it safe or not?". So we gathered up some Products which will helpful to you in this COVID-19 Crisis which are safe and pure as we have already tested it for you!</p>
  <p>Below are the items we RECOMMEND you, So that you can feel a little safe if used.</p>
  <h3>Products</h3>

</div>

<div class="notavailable">
  <p>There are no Products available as this is just a Skeleton Website. (Not to be deployed)</p>
</div>


<%- include("partials/footer"); -%>
