
<%- include("partials/header"); -%>
<div class="startingline1">
  <p>We also help people clear there doubts in various fields of medicine.</p>
</div>
<div class="secondblock">
  <h5>Below are some of the top queries which seem to be asked by many.</h5>

  <div class="">
    <h3>Top Queries</h3>
    <hr>
    <h5>Faucibus nisl tincidunt eget nullam. Ac felis donec et odio pellentesque diam volutpat commodo sed?</h5>
    <div class="question">

      <p style="margin-right: 20px">Ans:</p>
      <p>Ac turpis egestas integer eget . Porttitor eget dolor morbi non arcu risus. Ut aliquam purus sit amet luctus venenatis. Et odio pellentesque diam volutpat commodo sed egestas.</p>


  </div>

   <h5>Turpis egestas pretium aenean pharetra magna ac. Augue lacus viverra vitae congue eu consequat ac?</h5>
   <div class="question">

     <p style="margin-right: 20px">Ans: </p>
     <p>Eget est lorem ipsum dolor sit. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Vel eros donec ac odio tempor orci dapibus.</p>


  </div>
  </div>
  <hr>


    <h3>Send us your questions</h3>
    <h5>We will make sure that we reply as soon as possible.</h5>

</div>
<div class="firstblock1">
  <form class="" action="/query" method="post">
    <p>Fill the below to register your question.</p>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" placeholder="Name" autocomplete="off">
      <label>Email address</label>
      <input class="form-control" type="email" name="emailid" placeholder="Your Email" autocomplete="off">
      <label>Your Query</label>
      <textarea class="form-control" name="query" rows="8" cols="80" placeholder="Type in your Query"></textarea>
    </div>
    <button class="donatebutton" type="submit" name="button">Submit my Query</button>
  </form>

</div>


<%- include("partials/footer"); -%>
