<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="secondblock1">
      <h4>Succesfully uploaded!!</h4>
      <form class="" action="/redirect" method="post">
        <button class="donatebutton" type="submit" name="button">CLICK HERE TO GO TO THE HOMEPAGE</button>
      </form>
    </div>

  </body>
</html>
