
.startingline {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startingline p {
  font-size: 30px;
  font-weight: 500;
}

.firstblock {
  padding: 20px 100px;
  background-color: #E8F6EF;
}

.firstblock p {
  font-size: 20px;
}

.secondblock {
  padding: 20px 100px;
}

.secondblock1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.secondblock p {
  font-size: 20px;

}

.sidebyside {
  display: flex;
  /* align-items: center; */
}

.imageclass {
  font-size: 60px;
  margin-right: 20px;
  margin-top: 10px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

.thirdblock {
  padding: 20px 100px;
  display: flex;
  flex-direction: column;

}

.thirdblock p {
  font-size: 20px;
}

.thirdblockpara {
  padding: 20px 120px;
}

.donateheading {
  margin-left: auto;
  margin-right: auto;
}

.donatebutton {
  margin-left: auto ;
  margin-right: auto ;
  border: none;
  background-color: #4C4C6D;
  padding: 7px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.donatebutton:hover {
  background-color: #4C4C6D;
}

.footer {
  background-color: #B8DFD8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footer p {
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.icon {
  color: white;
  margin: 10px;
  font-size: 18px;
}

.aha {
  display:flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.images {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.joinus {
  padding: 20px;
  display: flex;

}

.joinusleft {
  padding: 30px;
  padding-top: 100px;
}

.joinusright {
  padding: 25px;
  background-color: #f0f2f5;
  border-radius: 10px;
}

.firstblock1 {
  padding: 40px;
  padding-top: 20px;
  background-color: #f0f2f5;
  margin : 20px 100px;
  margin-top: 0;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);

}

.question {
  display: flex;
}

.products {
  min-height: calc(100vh - 154px);
  padding: 20px 100px;
}

.products p {
  font-size: 15px;
  font-weight: 400;
}

.barl {
  background-color: white;
  padding: 15px 30px;
  -webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.34);
box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.34);

}

.Head {
  font-size: 26px;
  font-weight: 600;
  color: #4C4C6D;
}

.green {
  color: #4C4C6D;
  font-size: 17px;
  font-weight: 400;
}

.startingline1 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.startingline1 p {
  font-size: 25px;
  font-weight: 400;
}

.notavailable {
  text-align: center;
}
